.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.layout__main-sidebar {
  width: 256px; /* or any width you prefer */
  flex-shrink: 0;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

.layout__main-content {
  flex: 1;
  margin-left: 256px; /* should match sidebar width */
  overflow-y: auto;
  height: 100vh;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .layout__main-sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  .layout__main-content {
    margin-left: 0;
    margin-bottom: 56px; /* Adjust based on the height of the bottom navigation */
  }
}
